<section  class="mod {{#if mod_name}}{{mod_name}}{{/if}}" 
          data-role="mod"   
          {{#if data_conf}}data-conf="{{data_conf}}"{{/if}}>
  <div class="game">
      {{#if data}}
        {{#each data}}
        <div class="result-item flex flex-item-grow" data-game-id="{{this.id}}">
            <div class="box-art">
              
              {{#if this.Images}}
                {{#each this.BoxArt}}
                    <img class="{{this.side}}-box-art" src="http://thegamesdb.net/banners/{{this.thumb}}"></img>
                {{/each}}
              {{/if}}
            </div>
            <a class="flex flex-item-grow icn-before" href="/game/{{this.GameTitle}}?id={{this.id}}">
              <div>{{this.GameTitle}}</div>
              <div>{{this.Platform}}</div>
            </a>
        </div>
        <a data-role="download" data-game-name="{{this.GameTitle}}" download="game.txt" id="downloadlink">Download Game Info</a>
        {{/each}}
      {{else}}
      <h1>Doesn't look like we found anything</h1>
      {{/if}}
    </div>
  <section class="mod-background"></section>
</section>

