<section  class="mod {{#if mod_name}}{{mod_name}}{{/if}}" 
          data-role="mod"   
          {{#if data_conf}}data-conf="{{data_conf}}"{{/if}}>
  <div class="game flex flex-row">
      {{#if data}}
        {{#each data}}
        <div class="result-item flex flex-row flex-item-grow" data-game-id="{{this.id}}">
            {{#if this.BoxArt}}
              <div class="box-art flex flex-row flex-item-base">
                {{#each this.BoxArt}}
                  {{#each this}}
                      <img class="{{this.side}}-box-art flex-item-base {{#if @first}}active{{/if}}" data-role="{{this.side}}-box-art" src="http://thegamesdb.net/banners/{{this.thumb}}"></img>
                  {{/each}}
                {{/each}}
              </div>
            {{/if}}
            <ul class="flex flex-column flex-item-grow result-details">
              <li>
                <h1 class="game-title">
                  <a href="/game/{{this.GameTitle}}?id={{this.id}}">{{this.GameTitle}}</a>
                </h1>
              </li>
              <li>Platform: {{this.Platform}}</li>
              {{#if this.Developer}}
                <li>Developer: {{this.Developer}}</li>
              {{/if}}
              {{#if this.Publisher}}
                <li>Publisher: {{this.Publisher}}</li>
              {{/if}}
              {{#if this.Genres}}
                <li>Genre: {{this.Genres}}</li>
              {{/if}}
              {{#if this.Overview}}
                <li>{{this.Overview}}</li>
              {{/if}}
              <li>
                <a data-role="download" data-game-name="{{this.GameTitle}}" download="game.txt" class="button" id="downloadlink">Get Game Info</a>
              </li>
            </ul>
        </div>
        {{/each}}
      {{else}}
      <h1>Doesn't look like we found anything</h1>
      {{/if}}
    </div>
  <section class="mod-background"></section>
</section>

