<section  class="mod {{#if mod_name}}{{mod_name}}{{/if}}" 
          data-role="mod"   
          {{#if data_conf}}data-conf="{{data_conf}}"{{/if}}>
  <div class="game flex flex-row">
      {{#if data}}
        {{#each data}}
        <div class="result-item flex flex-row flex-item-grow" data-game-id="{{this.id}}">
            {{#if this.BoxArt}}
              <div class="box-art flex flex-row flex-item-grow">
                {{#each this.BoxArt}}
                  {{#each this}}
                      <img class="{{this.side}}-box-art {{#if @first}}active{{/if}}" data-role="{{this.side}}-box-art" src="http://thegamesdb.net/banners/{{this.thumb}}"></img>
                  {{/each}}
                {{/each}}
              </div>
            {{/if}}
            <div class="flex flex-column flex-item-grow">
              <a href="/game/{{this.GameTitle}}?id={{this.id}}">{{this.GameTitle}}</a>
              <div>{{this.Platform}}</div>
              {{#if this.Developer}}
                <div>Developer: {{this.Developer}}</div>
              {{/if}}
              {{#if this.Publisher}}
                <div>Publisher: {{this.Publisher}}</div>
              {{/if}}
              {{#if this.Genres}}
                <div>Genre: {{this.Genres}}</div>
              {{/if}}
              {{#if this.Overview}}
                <div>{{this.Overview}}</div>
              {{/if}}
            
              <a data-role="download" data-game-name="{{this.GameTitle}}" download="game.txt" id="downloadlink">Download Game Info</a>
            </div>
        </div>
        {{/each}}
      {{else}}
      <h1>Doesn't look like we found anything</h1>
      {{/if}}
    </div>
  <section class="mod-background"></section>
</section>

